
.container {
  height: auto;
  width: calc(100% - 1500px);
  /* background-color: #e9edc9; */
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;


}

table {
  padding-top: 10px;
}

td {
  width: 295px;
  background-color: white;
  padding: 3px;
  color: black;
  border: 1px solid black;
  margin-bottom: 10px;
}
.btn-add{
  margin-left: 5px;
  width: 50;
  height: 45px;
}
.btn-del {
  width: 50px;
  margin-left: 5px;
}
input {
  height: 40px;
  width: 300px;
}
button {
  height: 40px;
  width: 50px;
  background-color: brown;
  color: white;
}
