<div class="container">
  <h1>{{title}}</h1>
    <input type="text" #newTodo required>
    <button class="btn-add" (click)="addTodo(newTodo.value); newTodo.value=''">Add</button>
  <table>
    <tr *ngFor="let todo of todos">
      <td>{{todo.label}}</td>
      <td>
        <button class="btn-del" (click)="deleteTodo(todo)">Delete</button>
      </td>
    </tr>
  </table>
</div>
<!-- <select #priority><option>1</option><option>2</option><option>3</option></select>
and in the method call
addTodo(newTodo.value, priority.value) -->
