<!-- <div class="container">
  <h1>{{title}}</h1>
  <form [formGroup]="todoForm" (submit)="addTodo()">
    <input type="text" formControlName="item" required>
    <button class="btn-add"  type="submit">Add</button>
  </form>
  <div class="wrapper">
  <table>
    <tr *ngFor="let todo of todos; let i = index">
      <td>
        {{todo.description}}
      </td>
        <button class="btn-del" (click)="deleteTodo(i)">Delete</button>
    </tr>
  </table>
  </div>
</div>>
 -->
<nb-layout>
  <nb-layout-column>
    <app-inventory></app-inventory>
  </nb-layout-column>
</nb-layout>
